.circle {
	    border-radius: 0% !important;
}

.getraenk {
	width: initial !important;
}

.hide {
	display: none;
}

.secondary-content {
	color: #2979ff !important;
}

.tabclass {
	color: #2979ff !important;
}

.pizzainfo {
	width: 90%;
}

